@import "./../../node_modules/breakpoint-sass/stylesheets/breakpoint";

$breakpoint-mobile: (max-width 568px) (orientation portrait);
$breakpoint-mobile-landscape: (max-width 568px) (orientation landscape);
$breakpoint-tablet: 569px 1280px;
$breakpoint-desktop: min-width 1281px;

html,body{
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: "proxima-nova", sans-serif;
}

#guiContainer, #offscreenIndicatorContainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	pointer-events: none;
}


.pixiContainer:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAD0lEQVQYV2NgYGD4zwACAAYEAQAVghy+AAAAAElFTkSuQmCC);
	opacity: 0.8;
	transition: opacity 0.5s ease-in;
}

.offscreenIndicator{
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	opacity: 0;
	background-image: url('assets/icons/offscreenIndicator.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 30px;
	transition: opacity 0.3s ease-in;
}

#tryAgain, .joinGame, #reconnect{
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
	pointer-events: none;
	transform: translateX(-50%) translateY(-50%);
}

#karout {
	top: 20%;
}

#zobi {
	top: 30%;
}

.joinGame{
	pointer-events: all;
	opacity: 1;
}

button{

	position: relative;
	background-color: rgba(#68b2f8, 0.2);
	padding: 0.2rem 1.8rem 0.1rem 1.8rem;
	margin: 2rem auto;
	font-size: 1.2rem;
	transition: all 0.5s ease-out;
	margin-right: 1.5rem;
	border: 0;
	color: white;
	outline: none;
	white-space: nowrap;

	&:before{
		content: "";
		position: absolute;
		z-index: 10;
		left: -3rem;
		top: -2.4rem;
		width: 6rem;
		height: 7rem;
		background-image: url(assets/images/cta_glow_left.png);
		background-repeat: no-repeat;
		background-position: top;
		background-size: auto;
		pointer-events: none;
	}

	&:after{
		content: "";
		position: absolute;
		z-index: 10;
		right: -3rem;
		top: -2.4rem;
		width: 6rem;
		height: 7rem;
		background-image: url(assets/images/cta_glow_left.png);
		background-repeat: no-repeat;
		background-position: top;
		background-size: auto;
		transform: scaleX(-1);
		pointer-events: none;
	}

	a{
		width: 100%;
		padding: 0.2rem 0.5rem;
		color: #fff;
		transition: all 0.1s ease-in;
	}

	&:hover{
		background: rgba(#68b2f8, 0.4);
		a{
			padding: 0.2rem 0.8rem;
		}
	}
}

.lostGame #tryAgain{
	opacity: 1;
	pointer-events: all;
}


.tutorial .keysContainer{
	&:before, &:after{
		opacity: 1;
	}
}

.hud{
	position: absolute;
	top: 0;
	left: 0;
	width: 20rem;
	font-size: 12px;
	padding: 1rem;
	color: #fff;
	font-family: arial, sans-serif;
	opacity: 0;

	transition: all 0.5s ease-in;
}

.score{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20rem;
	height: 5rem;
	font-size: 12px;
	padding: 1rem;
	color: #fff;
	font-family: arial, sans-serif;
	opacity: 0;

	transition: all 0.5s ease-in;

	&:before{
		content: "Kills";
		position: absolute;
		top: -1.2rem;
		left: 1rem;
		font-size: 14px;
		font-weight: bold;
		opacity: 0.4;
	}

	.line{
		position: absolute;
		top: 0;
		left: 1rem;
		transition: all 0.2s ease-in;
		transform: translateY(0);
		opacity: 0.3;
	}

	.line.you{
		color: #efff00;
		opacity: 0.4;
	}
}

.keysContainer{
	pointer-events: none;

	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);

	&:before, &:after{
		content: "";
		display: inline-block;
		opacity: 0;
		transition: all 0.5s ease-in;
	}

	&:before{
		margin-right: 3rem;
	}
}

.fireButton{
	pointer-events: none;
	opacity: 0;

	transition: all 0.5s ease-in;

	background: #fff;
	width: 3rem;
	height: 3rem;
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	border: 3px solid #ff2f95;
	border-radius: 5rem;

	&:before{
		content: "FIRE";
		position: absolute;
		color: #ff2f95;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}


.pc .keysContainer{
	&:after{
		width: 103px;
		height: 91px;
		background-image: url("assets/images/pc_keys.png");
	}

	&:before{
		width: 175px;
		height: 55px;
		background-image: url("assets/images/pc_space.png");
	}
}

.mac .keysContainer{
	&:after{
		width: 119px;
		height: 64px;
		background-image: url("assets/images/mac_keys.png");
	}

	&:before{
		width: 193px;
		height: 64px;
		background-image: url("assets/images/mac_space.png");
	}
}

h2{
	position: absolute;
	box-sizing: border-box;
	top: 5%;
	font-weight: 300;
	font-size: 25px;
	text-align: center;
	width: 100%;
	color: #fff;
	transition: all 0.5s ease-in;
	padding: 0 3rem;

	@include breakpoint(($breakpoint-desktop)){
		top: 40%;
	}
}

body.gameActive{
	.hud { opacity: 0.3;}
	.score { opacity: 1;}
	.offscreenIndicator{ opacity: 0.8}
	h2{
		opacity: 0;
	}

	.pixiContainer:before{
		opacity: 0;
	}

	&.touch .fireButton{
		opacity: 0.6;
		pointer-events: all;
	}
}

.disconnected{
	#reconnect{
		opacity: 1;
		pointer-events: all;
	}

	#tryAgain, .joinGame{
		opacity: 0;
		pointer-events: none;
	}
}